#root{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

h1,h2,h3,p{
    margin: 0;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    display: none !important;
}

.PrivateNotchedOutline-root-1{
    top: 8px !important;
    bottom: 8px !important;
}