.balance-info-container{
    row-gap: 22px !important;
}

.card_button{
    width:4rem;
    height:4rem;
    border-radius:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:.7rem;
}

.balance-info{
    width: min-content;
    background-color: white;
    .balance-info-icon{
        top: -22px;
        left: 1%;
        transform: scale(0.8);
    }
    span{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 1px;
        color: #1E2629;
        white-space: nowrap;
    }
    p{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.4px;
        color: #9FA2B4;
    }
}