.trip-main-container{
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    cursor: pointer;

    .trip-details-container{

        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.001em;
        color: #404040;
        row-gap: 0.8rem;

        .trip-details{
            display: grid;
            grid-template-columns: repeat(3,auto);
            align-items: center;
            row-gap: 1rem;
            min-width: 600px;
            div{
                display: flex;
                column-gap: 0.4rem;
    
                .field-title{
                    
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #B9B9B9;
    
                }
            }
    
            .icon{
                background: #D4D6D7;
                opacity: 0.7;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    color: black;
                }
            }
        }

        .settled{
            color: #2DBC53;
            text-transform: capitalize;
            svg > path{
                fill: #2DBC53;
                transform: scale(0.7);
                transform-origin: center;
            }
        }
        .not_settled{
            color: #DD2025;
            text-transform: capitalize;
            svg > path{
                fill: #DD2025;
                transform: scale(0.7);
                transform-origin: center;
            }
        }
    }   
    

}

.all-trips-container{
    row-gap: 0.8rem;
}

.trip-settle-container{
    div{
        row-gap: 0.7rem;
        column-gap: 0.7rem;
    }
    .payment-methods{
        button{
            border-radius: 999px;
        }
        .active{
            background-color: rgba(231, 104, 50, 1);
            color: white;
        }
    }
}