.auth-modal{
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .main-container{
        position: relative;
        display: flex;
        z-index: 1000;
        width: 800px;
        height: 600px;
        border-radius: 10px;
        background-image: url('../Components/HomeStatic/assets/auth_modal_background.png');
        .close-btn{
            cursor: pointer;
            color: white;
            top: -3%;
            right: -3%;
            z-index: 1000;
        }
        .auth-intro{
            border-radius: 10px 0px 0px 10px;
            button{
                background: transparent;
                outline: none;
                border: none;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;

                color: #FFFFFF;
            }
            .active{
                border-bottom: 1px solid white;
            }
        }
        .auth-form{
            border-radius: 0px 10px 10px 0px;
            background-color: white;
            .back-btn{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #888888;
                cursor: pointer !important;
                &:hover{
                    background-color: transparent !important;
                }
                padding: 0px !important;
            }
        }
    }
}
.otp-verification-container{
    h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        color: #3D3D3D;

    }
    p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;

        color: #9F9F9F;

    }
    .resend-button{
        color: #1565D8;
        background-color: transparent !important;
        padding: 0px !important;
        &:hover{
            background-color: transparent !important;
        }
    }
}

.request-otp-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #888888;
}

.request-otp-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #3D3D3D;

}

.primary-button{
    background-color: #1565D8 !important;
    color: white !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.otp-box{
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    margin-right: 15px;
    background: #FFFFFF;
    
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    input{
        font-size: 14px;
        border-radius: 4px;
        width: 100% !important;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        line-height: 21px;
        color: #1565D8;

        &:focus{
            border: 1px solid #2C74DC;
        }
    }
}