.col_1{
    width: 60%;

    .dp{
        // border-radius: 50%;
        // height:6.5rem;
        // width:6.5rem;
        margin-bottom: 2rem;
        background-color: #673AB7;
        // background-size: cover;
        // background-position: center;
        color: #fff;
        // overflow: hidden;
        // font-size: 5rem;
        // font-weight: 500;

        transform: scale(2.5);
    }

    .input{
        margin-top: 1.5rem;
    }
}

.col_2{

    .success{
        transition:all 1s;
        text-align: center;

    }
    width: 28%;
}