.operations{
    margin-bottom: 1rem;
    .add_button{
        padding:1rem .5rem !important; 
    }
    
    .buttons_container{
        border-radius: 6px;
        background-color:#fff;
        padding: .3rem 2rem;
        border: 1px solid #DFE0EB;
        font-size: 14px;
        margin-left: 1rem;
    }
}

.truck_stats{

    border-radius: 6px;
    background-color:#fff;
    padding: 1rem 2rem;
    border: 1px solid #DFE0EB;
    font-size: 14px;

    .stat_item{
        .item_title{
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 4px;
        }

        .item_data{
            font-family: 12px;

            .dot{
                width:8px;
                height:8px;
                border-radius:50%;
            }  
        }

        .no_of_trucks{
            color:#C5C7CD;

        }

        .available{
            color: #2DBC53;
            .dot{
                background-color: #2DBC53;
            }
        }

        .on_a_trip{
            color:#EA4335;

            .dot{
                background-color: #EA4335;
            }
        }
    }
}


table{
    .row{
        border-radius: 6px;
        background-color:#fff;
        padding: 1rem 2rem;
        border: 1px solid #DFE0EB;
        font-size: 14px;
    }

    .col_title{
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 4px;
    }

    .col_data{
        font-size: 12px;
        color: #C5C7CD;
    }

    .status_data{
        color: #2DBC53;
            .dot{
                width:8px;
                height:8px;
                border-radius:50%;
                background-color: #2DBC53;
            }
    }

    .options{
        color:#C5C7CD;
    }
}

.add_truck_form{
    border-radius: 6px;
        background-color:#fff;
        padding: 1rem 2rem;
        border: 1px solid #DFE0EB;
        font-size: 14px;
}